<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesindex.css">

</head>
<body>
<div class="header-container">
    <h1 class="title">Joke Categories</h1>
</div>
<div class="button-container">
    <table>
        <tr>
            <td><a href="/articles/dad" class="btn btn-warning">Dad</a></td>
            <td><a href="/articles/programming" class="btn btn-warning">Programming</a></td>
        </tr>
        <tr>
            <td><a href="/articles/knock-knock" class="btn btn-warning">Knock-Knock</a></td>
            <td><a href="/articles/general" class="btn btn-warning">General</a></td>
        </tr>
    </table>
</div>
<div class="container-time">
    <p>Current Date: {{ currentTime.format('d F Y') }}</p>
    <p>Current Time: {{ currentTime.format('H:i') }}</p>
</div>
</body>
</html>
